# Ignore all
*

# Unignore all with extensions
!*.?
!*.??
!*.???
!*.????
!*.?????


# Unignore all dirs
!*/
# Ignore TEST dir
TEST*/

# unignore makefile
!Makefile
!makefile
!compile
!variables
!run


# ignore object and temp files
*.o
*~*

# ignore zip files
*.gz
*.zip
*.tar.gz
